@import url('https://fonts.googleapis.com/css?family=Livvic:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo:400,900&display=swap');

* , *:after , *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --orangeColor: #ff6700;
    --blackColor: #1a1a1a;
    --whiteColor: #fff;
}

body {
    font-family: 'Livvic', sans-serif;
    background: #e8e8e8;
}

.container {
    width: 80%;
    margin: auto;
}

.new-videos-alert {
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 10%;
    color: #000;
    z-index: 100;
    color: var(--whiteColor);
}

.new-videos-alert .new-videos-icon {
    display: inline-block;
    vertical-align: middle;   
    border: 1px solid #b73232;
    color: white;
    padding: 13px;
}

.new-videos-alert .new-text {
    font-family: 'Cairo', sans-serif;
    float: left;
    background: #b73232;
    padding: 10px 20px; 
}

.new-videos {
    width: 300px;
    position: fixed;
    right: -335px;
    transition: right .4s;
    top: 18%;
    z-index: 100;
    height: calc(100vh - 18%);
    padding: 10px;
    background: #f6f6f6;
}

.new-videos.toggle {
    right: 0;
}
.new-videos.hide {
    right: -335px;
}

.new-videos .close-list {
    position: absolute;
    left: -33px;
    top: 0;
    color: #000;
    background: #f6f6f6;
    padding: 8px;
    cursor: pointer;
    z-index: 100;
}

.new-videos .new-item {
    width: 100%;
    height: 165px;
    margin-bottom: 10px ;
    display: block;
}

.new-videos .new-item img {
    width: 100%;
    height: 85%;
}

.new-videos .new-item .new-item-text{
    display: block;
    background: #fff;
    text-align: center;
}

.new-videos .view-list {
    position: absolute;
    bottom: 0;
    display: block;
    text-align: center;
    background: #ff6700;
    color: #fff;
    width: 100%;
    left: 0;
    padding: 10px;
}

.home {
    height: 100vh;
    background-image: url('../images/home-background.jpg');
    background-size: cover ;
    background-position: center;
    position: relative;
}

.home:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
}

.support {
    height: auto;
    background-image: url('../images/support.jpeg');
    background-size: cover ;
    background-position: center;
    position: relative;
}

.support:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
}

.support-content {
    min-height: calc(100vh - 127px);
}

.home-content {
    position: relative;
    z-index: 10;
}

.home header{
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
}

.home header .logo {
    color: var(--whiteColor);
    font-weight: bold;
    letter-spacing: 3px;
}

.home header a {
    text-decoration: none;
    background: var(--orangeColor);
    color: var(--whiteColor);
    padding: 10px 20px;
    right: 0;
    bottom: 0;
    font-size: 17px;
    border-radius: 10px 0 10px 0;
}

.home header + .href-link {
    display: inline-block;
    text-decoration: none;
    margin: 10px 0;
    color: #b73232;
    background: #fff;
    padding: 5px 20px;
    font-size: 20px;
    transition: background 0.3s, color 0.3s;
}

.home header + .href-link:hover {
    color: #fff;
    background: #b73232;
}

.home .channel-track {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 70%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.home .channel-track .track-text {
    font-size: 55px;
    color: var(--whiteColor);
    font-weight: bold;
}

.home .channel-track p {
    color: var(--whiteColor);
    font-size: 25px;
}

.home .channel-track + .icon-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
    color: var(--orangeColor);
    z-index: 10;
    cursor: pointer;
}

.home .support-content {
    position: relative;
    z-index: 15;
    text-align: right;
    color: #fff;
    font-family: 'Cairo', sans-serif;
}

.home .support-content .support-desc {
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: 20px;
    border: 1px solid #ff6700;
    padding: 15px;
}

.home .support-content .support-desc .normal {
    font-weight: bold;
    color: #ff6700;
}

.home .support-content .support-desc .voda-cash {
    background: #b73232;
    color: #fff;
    padding: 0 15px;
}


.wrapper {
    position: relative;
    z-index: 99;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.wrapper .title {
    font-size: 28px;
    background: var(--orangeColor);
    padding: 10px 15px;
    color: var(--whiteColor);
    font-weight: bold;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 6px var(--blackColor);
    margin-bottom: 15px;
    position: relative;
}

.wrapper .title .youtube-link {
    position: absolute;
    text-decoration: none;
    background: #ee0707;
    color: var(--whiteColor);
    padding: 10px 20px;
    right: 0;
    bottom: 0;
    font-size: 17px;
    border-radius: 10px 0 10px 0
}

.wrapper .subtitle {
    background: var(--orangeColor);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    counter-reset: title; 
}

.wrapper .subtitle span {
    font-weight: bold;
    letter-spacing: -5px;
    display: inline-block;
    margin: 0 10px;
}

.coursesTrack {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.coursesTrack .course-item {
    background: var(--whiteColor);;
    padding: 30px 10px 50px 35px;
    position: relative;
    width: 48%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.coursesTrack .course-item:before {
    position: absolute;
    counter-increment: title;
    content: counter(title);
    left: 0;
    top: 50%;
    transform: translate(-50% , -50%);
    background: var(--whiteColor);;
    border-radius: 50%;
    color:var(--orangeColor);
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    box-shadow: 1px 1px 5px #ccc;
    font-size: 20px;
}

.coursesTrack .course-item .course-title h2 {
    font-weight: 700;
    font-size: 22px;
    color: var(--orangeColor);
}

.coursesTrack .course-item .breif {
    color: #a1a1a1;
    font-size: 17px;
    margin-bottom: 6px;
}

.coursesTrack .course-item .course-link  {
    background: #373839;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    color: #fff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.5s;
}

.coursesTrack .course-item .course-link:hover {
    background: var(--orangeColor);
}

@media(max-width:768px) {
    .wrapper .title {
        font-size: 20px;
    }
    .wrapper .subtitle {
        font-size: 17px;
    }
    .coursesTrack {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
    .coursesTrack .course-item {
        width: 100%;
    }
    .coursesTrack .course-item .course-title h2 {font-size: 17px;}
    .coursesTrack .course-item .breif {font-size: 16px;}
    .wrapper .title {
        box-shadow: none
    }
    .wrapper .title .youtube-link {
        bottom: 100%;
        border-radius: 0;
    }
    .home header {
        flex-direction: column;
    }
    .home .channel-track .track-text {
        font-size: 30px;
    }
    
}